@font-face {
  font-family: "Livvic";
  src: url("../Fonts/Livvic-Bold.ttf") format("woff2"), url("../Fonts/Livvic-ExtraLight.ttf") format("woff2"), url("../Fonts/Livvic-Light.ttf") format("woff2"), url("../Fonts/Livvic-Medium.ttf") format("woff2"), url("../Fonts/Livvic-Regular.ttf") format("woff2"), url("../Fonts/Livvic-SemiBold.ttf") format("woff2"), url("../Fonts/Livvic-Thin.ttf") format("woff2");
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Livvic", sans-serif;
  font-weight: 700;
  background: rgb(1, 78, 86);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding: 73px 0 129px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}

.header__logo-navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

.header__logo-link {
  display: inline-block;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

.header__link {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: white;
}
.header__link:hover {
  color: #F67E7E;
  transition: 0.3s;
}

.header__contact-link {
  display: inline-block;
  width: 153px;
  padding: 10px 0;
  border-radius: 30px;
  border: 2px solid white;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s linear;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: white;
}
.header__contact-link:hover {
  background-color: white;
  color: #002529;
}

.header__hamburger-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.modal-outer {
  position: fixed;
  width: 100%;
  z-index: 50;
  right: -100%;
  top: 0;
  bottom: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: all 0.3s linear;
}

.modal-inner {
  position: fixed;
  right: -100%;
  padding: 56px 25px 0 48px;
  width: 65%;
  height: 100vh;
  background-color: #2C6269;
  position: absolute;
  background-image: url("../../images/modal-hamburger-img.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.modal__close-btn {
  position: absolute;
  top: 56px;
  right: 25px;
  background-color: transparent;
  border: none;
}

.show-outer {
  right: 0;
}

.show-inner {
  right: 0;
}

.hidden-scroll {
  overflow-y: hidden;
}

.modal-hamburger-text {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: white;
}

.modal-hamburger-item {
  margin-top: 55px;
  margin-bottom: 24px;
}

.modal-hamburger-item2 {
  margin-bottom: 36px;
}

.modal-hamburger-contact {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: white;
  padding: 9px 33px 11px 34px;
  box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 24px;
}

@media (max-width: 800px) {
  .site-header {
    padding: 64px 0 112px;
  }
  .header__logo-img {
    width: 128px;
    height: 32px;
  }
  .header__logo-navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 48px;
  }
}
@media (max-width: 600px) {
  .site-header {
    padding: 48px 0 80px;
  }
  .header__logo-img {
    width: 128px;
    height: 32px;
  }
  .header__list {
    display: none;
  }
  .header__logo-navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0px;
  }
  .header__contact-link {
    display: none;
  }
  .header__hamburger-btn {
    display: block;
  }
}
@media (max-width: 370px) {
  .modal-inner {
    padding: 56px 10px 0 48px;
    background-size: 80px;
  }
  .modal-hamburger-contact {
    padding: 9px 30px 9px 30px;
    border-radius: 24px;
  }
}
@media (max-width: 330px) {
  .modal-inner {
    padding: 56px 7px 0 30px;
  }
  .modal-hamburger-contact {
    padding: 7px 25px 7px 25px;
    border-radius: 24px;
  }
}
.hero {
  background-image: url("../images/hero-bg-img.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 715px) top;
}

.hero__wrapper {
  background-image: url("../images/hero-bg--img2.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  display: flex;
  align-items: none;
  justify-content: none;
  gap: 128px;
  padding-bottom: 250px;
}

.hero__title {
  width: 537px;
  margin-bottom: 0px;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  color: white;
}

.hero__title-span {
  color: #F67E7E;
}

.hero__content {
  width: 445px;
}

.hero__content-line {
  width: 50px;
  height: 4px;
  background-color: #79C8C7;
  margin-bottom: 79px;
}

.hero__content-text {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: white;
}

@media (max-width: 880px) {
  .hero__wrapper {
    display: flex;
    align-items: none;
    justify-content: center;
    gap: 0px;
    flex-direction: column;
    background-position: center bottom;
  }
  .hero__wrapper-tittle {
    width: 100%;
    display: flex;
    align-items: none;
    justify-content: center;
    gap: 0px;
    margin-bottom: 24px;
  }
  .hero__title {
    width: 350px;
    text-align: center;
    margin-bottom: 0px;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: white;
  }
  .hero__content-line {
    display: none;
    margin-bottom: 0;
  }
  .hero__content {
    display: flex;
    align-items: none;
    justify-content: center;
    gap: 0px;
    width: 100%;
  }
  .hero__content-text {
    width: 457px;
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    color: white;
    text-align: center;
    width: 480px;
  }
}
@media (max-width: 600px) {
  .hero__wrapper {
    display: flex;
    align-items: none;
    justify-content: center;
    gap: 0px;
    flex-direction: column;
    background-position: center bottom;
    padding-bottom: 197px;
  }
  .hero__wrapper-tittle {
    width: 100%;
    display: flex;
    align-items: none;
    justify-content: center;
    gap: 0px;
    margin-bottom: 18px;
  }
  .hero__title {
    width: 240px;
    text-align: center;
    margin-bottom: 0px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    color: white;
  }
  .hero__content {
    display: flex;
    align-items: none;
    justify-content: center;
    gap: 0px;
    width: 100%;
  }
  .hero__content-text {
    max-width: 457px;
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    color: white;
    text-align: center;
    width: 480px;
  }
}
@media (max-width: 400px) {
  .hero__wrapper {
    display: flex;
    align-items: none;
    justify-content: center;
    gap: 0px;
    flex-direction: column;
    background-position: center bottom;
    background-size: 100%;
  }
}
.build {
  background-image: url("../images/build-bg-img.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 720px) bottom;
  background-color: #012f34;
  padding-top: 140px;
  padding-bottom: 140px;
}

.build__wrapper {
  display: flex;
  align-items: none;
  justify-content: space-between;
  gap: 0px;
}

.build__content-title {
  max-width: 419px;
}

.build__content-line {
  width: 50px;
  height: 4px;
  background-color: rgb(246, 126, 126);
  margin-bottom: 54px;
}

.build-title {
  margin-bottom: 0px;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: #ffffff;
}

.build__content-item {
  width: 547px;
  margin-bottom: 32px;
  display: flex;
  align-items: none;
  justify-content: start;
  gap: 23px;
}

.buil__item-title {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #F67E7E;
}

.build__item-text {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: #79C8C7;
}

@media (max-width: 1050px) {
  .build {
    background-image: url("../images/build-bg-img.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 387px) top;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .build__wrapper {
    flex-direction: column;
    max-width: 573px;
    margin: 0 auto;
  }
  .build__content-title {
    margin-bottom: 64px;
    max-width: 445px;
  }
  .build-title {
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: #ffffff;
  }
}
@media (max-width: 620px) {
  .build {
    background-image: url("../images/build-bg-img.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 210px) top;
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .build__wrapper {
    margin: auto 0;
    flex-direction: column;
    max-width: 620px;
  }
  .build__content-title {
    margin-bottom: 56px;
    max-width: 240px;
  }
  .build-title {
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: #ffffff;
  }
  .build__content {
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .build__content-list {
    max-width: 100%;
  }
  .build__content-item {
    flex-direction: column;
    max-width: 100%;
  }
  .buil__item-title {
    margin-bottom: 8px;
    max-width: 100%;
  }
  .build__item-text {
    max-width: 100%;
  }
}
.deliver-section {
  padding-top: 140px;
  padding-bottom: 140px;
  background-image: url("../images/deliver-bg-img1.svg"), url("../images/deliver-bg-img2.svg");
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}

.deliver-title {
  margin-bottom: 0px;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  max-width: 932px;
  margin-bottom: 56px;
}

.deliver-title-span {
  color: #79C8C7;
}

.deliver-list {
  display: flex;
  align-items: none;
  justify-content: space-between;
  gap: 30px;
}

.deliver__item {
  background-image: url("../images/deliver-bg-icon.svg");
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 36px;
  text-align: center;
  max-width: 350px;
}

.deliver__item-text {
  margin-bottom: 24px;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: #ffffff;
}

.deliver__item-username {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #79c8c7;
}

.deliver__item-profession {
  margin-bottom: 32px;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  color: white;
  font-style: italic;
}

@media (max-width: 900px) {
  .deliver-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .deliver-title {
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    max-width: 573px;
    margin-bottom: 48px;
  }
  .deliver-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
    flex-direction: column;
  }
  .deliver__item {
    max-width: 80%;
  }
  .deliver__item-text {
    margin-bottom: 16px;
  }
  .deliver__item-profession {
    margin-bottom: 16px;
  }
}
@media (max-width: 600px) {
  .deliver-section {
    padding-top: 140px;
    padding-bottom: 164px;
  }
  .deliver-title {
    width: 100%;
    margin-bottom: 48px;
  }
  .deliver__item {
    max-width: 100%;
  }
}
.mask-section {
  background-color: #F67E7E;
  background-image: url("../../images/mask-bg-img.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 180px;
  padding-top: 76px;
  padding-bottom: 76px;
}

.mask__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  margin-left: 98px;
  margin-right: 98px;
}

.mask-title {
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: #012F34;
}

.mask__contact-link {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #012F34;
  box-sizing: border-box;
  border: 2px solid rgb(1, 47, 52);
  border-radius: 24px;
  padding: 9px 33px 11px 32px;
}
.mask__contact-link:hover {
  color: white;
  background-color: #012F34;
  transition: 0.3s;
}

@media (max-width: 950px) {
  .mask-section {
    padding-top: 76px;
    padding-bottom: 76px;
    background-size: 150px;
  }
  .mask-title {
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: #012F34;
  }
  .mask__wrapper {
    max-width: 100%;
  }
}
@media (max-width: 800px) {
  .mask-title {
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: #012F34;
  }
  .mask__wrapper {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }
}
@media (max-width: 380px) {
  .mask-title {
    text-align: center;
  }
}
.site-footer {
  background-color: rgb(0, 37, 41);
  padding-top: 48px;
  padding-bottom: 48px;
}

.footer-wrapper {
  display: flex;
  align-items: none;
  justify-content: space-between;
  gap: 0px;
}

.footer-logo {
  margin-right: 125px;
}

.footer-logo-img {
  margin-bottom: 25px;
}

.footer-home-about {
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 40px;
}

.footer-home-about-tetx {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #fff;
}

.footer__list {
  width: 445px;
  margin-right: 125px;
}

.footer__item {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: #8ba9ad;
}

.footer-tel {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: #8ba9ad;
}

.footer-link1 {
  max-width: 264px;
}

.footer__social-network {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  padding-bottom: 51px;
}

address {
  font-style: normal;
}

.footer-social-text {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: #8ba9ad;
  width: 285px;
}

.footer-wrapperr {
  display: none;
}

@media (max-width: 885px) {
  .footer-wrapper {
    display: flex;
    align-items: none;
    justify-content: space-between;
    gap: 0px;
    padding-bottom: 32px;
  }
  .footer-link1 {
    display: none;
  }
  .footer__list {
    max-width: 280px;
    text-align: right;
    margin: 0;
  }
  .footer-logo {
    margin: 0;
  }
  .footer-wrapperr {
    display: block;
  }
  .footer-linkk {
    display: flex;
    align-items: none;
    justify-content: space-between;
    gap: 0px;
  }
  .footer-social-textt {
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    color: #8ba9ad;
  }
}
@media (max-width: 500px) {
  .footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    flex-direction: column;
  }
  .footer-home-about {
    margin-left: 8px;
    padding-bottom: 24px;
    max-width: 145px;
  }
  .footer-link1 {
    display: block;
    max-width: 262px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__list {
    max-width: 172px;
    text-align: center;
    margin-bottom: 40px;
  }
  .footer-wrapperr {
    display: none;
  }
  .footer-social-text {
    margin: 0 auto;
    max-width: 262px;
  }
  .footer__social-network {
    display: flex;
    align-items: center;
    justify-content: none;
    gap: 16px;
    padding-bottom: 16px;
  }
}/*# sourceMappingURL=main.css.map */