@font-face {
  font-family: "Livvic";
  src: url("../Fonts/Livvic-Bold.ttf") format("woff2"), url("../Fonts/Livvic-ExtraLight.ttf") format("woff2"), url("../Fonts/Livvic-Light.ttf") format("woff2"), url("../Fonts/Livvic-Medium.ttf") format("woff2"), url("../Fonts/Livvic-Regular.ttf") format("woff2"), url("../Fonts/Livvic-SemiBold.ttf") format("woff2"), url("../Fonts/Livvic-Thin.ttf") format("woff2");
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Livvic", sans-serif;
  font-weight: 700;
  background: rgb(1, 78, 86);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding: 73px 0 129px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}

.header__logo-navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

.header__logo-link {
  display: inline-block;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

.header__link {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: white;
}
.header__link:hover {
  color: #F67E7E;
  transition: 0.3s;
}

.header__contact-link {
  display: inline-block;
  width: 153px;
  padding: 10px 0;
  border-radius: 30px;
  border: 2px solid white;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s linear;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: white;
}
.header__contact-link:hover {
  background-color: white;
  color: #002529;
}

.header__hamburger-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

@media (max-width: 800px) {
  .site-header {
    padding: 64px 0 112px;
  }
  .header__logo-img {
    width: 128px;
    height: 32px;
  }
  .header__logo-navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 48px;
  }
}
@media (max-width: 600px) {
  .site-header {
    padding: 48px 0 80px;
  }
  .header__logo-img {
    width: 128px;
    height: 32px;
  }
  .header__list {
    display: none;
  }
  .header__logo-navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0px;
  }
  .header__contact-link {
    display: none;
  }
  .header__hamburger-btn {
    display: block;
  }
}
.hero {
  background-image: url("../images/hero-bg-img.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 715px) top;
}

.hero__wrapper {
  background-image: url("../images/hero-bg--img2.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  display: flex;
  align-items: none;
  justify-content: none;
  gap: 128px;
  padding-bottom: 250px;
}

.hero__title {
  width: 537px;
  margin-bottom: 0px;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  color: white;
}

.hero__title-span {
  color: #F67E7E;
}

.hero__content {
  width: 445px;
}

.hero__content-line {
  width: 50px;
  height: 4px;
  background-color: #79C8C7;
  margin-bottom: 79px;
}

.hero__content-text {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: white;
}

@media (max-width: 880px) {
  .hero__wrapper {
    display: flex;
    align-items: none;
    justify-content: center;
    gap: 0px;
    flex-direction: column;
    background-position: center bottom;
  }
  .hero__wrapper-tittle {
    width: 100%;
    display: flex;
    align-items: none;
    justify-content: center;
    gap: 0px;
    margin-bottom: 24px;
  }
  .hero__title {
    width: 350px;
    text-align: center;
    margin-bottom: 0px;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: white;
  }
  .hero__content-line {
    display: none;
    margin-bottom: 0;
  }
  .hero__content {
    display: flex;
    align-items: none;
    justify-content: center;
    gap: 0px;
    width: 100%;
  }
  .hero__content-text {
    width: 457px;
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    color: white;
    text-align: center;
    width: 480px;
  }
}
@media (max-width: 600px) {
  .hero__wrapper {
    display: flex;
    align-items: none;
    justify-content: center;
    gap: 0px;
    flex-direction: column;
    background-position: center bottom;
  }
  .hero__wrapper-tittle {
    width: 100%;
    display: flex;
    align-items: none;
    justify-content: center;
    gap: 0px;
    margin-bottom: 18px;
  }
  .hero__title {
    width: 240px;
    text-align: center;
    margin-bottom: 0px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    color: white;
  }
  .hero__content {
    display: flex;
    align-items: none;
    justify-content: center;
    gap: 0px;
    width: 100%;
  }
  .hero__content-text {
    max-width: 457px;
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    color: white;
    text-align: center;
    width: 480px;
  }
}
@media (max-width: 400px) {
  .hero__wrapper {
    display: flex;
    align-items: none;
    justify-content: center;
    gap: 0px;
    flex-direction: column;
    background-position: center bottom;
    background-size: 100%;
  }
}/*# sourceMappingURL=main.css.map */