.build{
    background-image: url("../images/build-bg-img.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 720px) bottom;
    background-color: #012f34;
    padding-top: 140px;
    padding-bottom: 140px;
}

.build__wrapper{
    @include display($items:none, $space:space-between, $gap:0px);   
}

.build__content-title{
    max-width: 419px;
}

.build__content-line{
    width: 50px;
    height: 4px;
    background-color: rgb(246, 126, 126);
    margin-bottom: 54px;
}

.build-title{
    @include textStyle($FS:48px, $FW:700, $LH:48px, $MB:0px, $CLR:#ffffff);
    
}

.build__content-item{
    width: 547px;
    margin-bottom: 32px;
    @include display($items:none, $space:start, $gap:23px);
}

.buil__item-title{
    @include textStyle($FS:18px, $FW:700, $LH:28px, $MB:16px, $CLR:#F67E7E);
}

.build__item-text{
    @include textStyle($FS:15px, $FW:600, $LH:25px, $MB:0px, $CLR:#79C8C7);
}

@media (max-width:1050px){
    .build{
        background-image: url("../images/build-bg-img.svg");
        background-repeat: no-repeat;
        background-position: calc(50% + 387px) top;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .build__wrapper{
        flex-direction: column;  
        max-width: 573px;
        margin: 0 auto;
    }
    
    .build__content-title{
        margin-bottom: 64px;
        max-width: 445px;
    }
    
    .build-title{
        @include textStyle($FS:32px, $FW:700, $LH:32px, $MB:0px, $CLR:#ffffff);
    }
}
@media (max-width:620px){
    .build{
        background-image: url("../images/build-bg-img.svg");
        background-repeat: no-repeat;
        background-position: calc(50% + 210px) top;
        padding-top: 64px;
        padding-bottom: 64px;
    }
    .build__wrapper{
        margin: auto 0;     
        flex-direction: column;  
        max-width: 620px;
        // background-color: red;
    }
    
    .build__content-title{
        margin-bottom: 56px;
        max-width: 240px;
    }
    
    .build-title{
        @include textStyle($FS:32px, $FW:700, $LH:32px, $MB:0px, $CLR:#ffffff);
    }
    
    .build__content{
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    
    .build__content-list{
        max-width: 100%;
    }
    
    .build__content-item{
        flex-direction: column;
         max-width: 100%;
    }
    
    .buil__item-title{
        margin-bottom: 8px;
         max-width: 100%;
    }
    .build__item-text{
         max-width: 100%;
    }
}